<%- include("partials/header2") -%>

<form action="/add" method="post">
<label for="Roll Number">Roll Number</label>
    <input type = "text" name = "rollno" id = "favourite" size = "20" </p> 
    <br>
<label for="">Name</label> 
<input type = "text" name = "name" id = "favourite" size = "20" </p> 
<br>
<button type="submit">SHOW</button>
</form>

<%- include("partials/footer") -%>

