<form action="/admin" method="post"> 
        <b> Select you Subject using dropdown list </b>  
        <select id = "myList" name="check" >  
        <option> ---Choose Subject--- </option>  
        <option> BDA </option>  
        <option> ML </option>  
        <option> CNS </option>  
        <option> NP </option> 
        <option> NLP </option> 
        <option> ES </option> 
        <option> MLP-Lab </option>
        <option> BDA-Lab </option>
        <option> MST-Lab </option>
        <option> CNS-Lab </option>     
        </select>  
        <p> Enter Absentees Roll Numbers  
        <input type = "text" name = "abs" id = "favourite" size = "20" </p> 
        <button type="submit">SHOW</button> 
        </form>
      </div>
</form>

