<%- include("partials/header") -%>

<div class="login">

        <h1 class="text-center">WELCOME</h1>
        
        <form action="/" method="post">
            <div class="form-group">
                <label class="form-label" for="password">Roll Number</label>
                <input class="form-control" type="text" id="password" name="roll">
            </div>
            <button type="submit" class="btn btn-success w-100">SIGN IN</button>
            <!-- <input  type="submit" value="SIGN IN"> -->
        </form>

    </div>
