<%- include("partials/header") -%>

<form action="/" method="post">
    <div class="box">
        <h1>Search</h1>
        <form action="/" method="post">
          <label for="">Roll No :</label>
          <input type="text" name="roll">
          <button type="submit">SHOW</button>
      </form>
      </div>
</form>

